* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1e1e2f,#0f061f);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  max-width: 900px;
  margin: 100px auto;
  padding: 40px 30px;
  backdrop-filter: blur(6px);
  color: #f1f1f1;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background: #1e1e2f;
  color: #ffffff;
  border-radius: 10px;
}

.welcome-container h1 {
  font-size: 3rem;
  color: #a362ff;
  margin-bottom: 20px;
  text-align: left;
  text-shadow: 0 0 10px #a362ff80;
}

.welcome-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #dddddd;
  text-align: justify;
}

.bot {
  max-width: 900px;
  margin: 100px auto;
  padding: 40px 30px;
  backdrop-filter: blur(6px);
  color: #f1f1f1;
  font-family: 'Segoe UI', sans-serif;
}

.bot h1 {
  font-size: 3rem;
  color: #a362ff;
  margin-bottom: 20px;
  text-align: left;
  text-shadow: 0 0 10px #a362ff80;
}

.bot p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #dddddd;
  text-align: justify;
}

.about {
  max-width: 900px;
  margin: 100px auto;
  padding: 40px 30px;
  backdrop-filter: blur(6px);
  color: #f1f1f1;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background: #1e1e2f;
  color: #ffffff;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #dddddd;
  text-align: justify;
}
.about h1 {
  font-size: 3rem;
  color: #a362ff;
  margin-bottom: 20px;
  text-align: left;
  text-shadow: 0 0 10px #a362ff80;
} 

.about a {
  color: #8a2be2;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  background-color: #8a2be2;
  padding: 12px 25px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #00000080;
  text-decoration: none;
  transition: backgroud 0.3s;
}

.about a.discord-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #5865F2; /* cor padrão do Discord */
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
}


.btn:hover {
  background-color: #6a1bb7;
}

/* Seção abaixo da tela de entrada */
section#principal {
  padding: 50px;
  background-color: #1e1e2f;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(135deg, #130b25,#080116);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  color: rgb(147, 64, 243);
  text-shadow: 0 0 10px #a362ff80;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(147, 64, 243);
  text-shadow: 0 0 10px #a362ff80;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #b974ff;
}

main {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  display: none;
  text-align: center;
}

.tab.active {
  display: block;
}
